/*Week 3 - Respnosive Website Design Style Sheet*/

/*Colors Used

dark blue: #173f5f
blue: #20639b
green: #4CAF50
yellow: #f6d55c
red: #ed553b

*/

@viewport {
    width: device-width;
    zoom: 1;
  }
  

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Slabo+13px&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

h1{
    font-family: 'Slabo 13px', serif;
    font-size: 2em;
    color: white;
}

h2{
    font-family: 'Slabo 13px', serif;
    font-size: 2.25em;
    margin-bottom: 0.5em;

}

h3 {

    font-family: 'Grand Hotel', cursive;
    font-size: 2em;
    color: #20639b;
    
}


p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    text-align: justify;
}

header{
    margin: 0;
    padding: 0;
    overflow: hidden;   
    background-color:#4CAF50;
    position: fixed;
    top: 0;
    width: 100%;
}

body{
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
}

img.game {
    box-shadow: gray 3px 3px;
}

img.hide {
  display: none;
}

/*Bottom Fixed Navigation Bar from https://www.w3schools.com/css/css_navbar_horizontal.asp*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #173f5f;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
li {
    float: left;
    font-family: 'Slabo 13px', serif;
    font-size: 1em;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover:not(.active) {
    background-color: #20639b;
  }
  
.active {
    background-color: #4CAF50;
  }



  /*Responsive Grid-View from https://www.w3schools.com/css/css_rwd_grid.asp*/
* {
    box-sizing: border-box;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  /*Padding so that the menus do not obscure any of the page content*/
.content{
    padding: 1.5em;
    margin-top: 3.5em;
    margin-bottom: 2em;
}

/*Setting these components to only appear on larger screens*/
.callout {
    display: none;
}

a.game {
    display: none;
}

footer {
    display: none;
}


/* For portrait view mobile phones: */
[class*="col-"] {
    width: 100%;
    
  }
  
  @media only screen and (min-width: 641px) {
    /* For tablets or landscape view mobile phones: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .callout {
        display: contents;
    }

    /*Image set to only appear on tablets*/
    img.hide {
      display: block;
      box-shadow: gray 3px 3px;

  }

  @media only screen and (min-width: 1080px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #173f5f;
        position: fixed;
        box-sizing: border-box;
        top: 93px; /*Moving the naviagtion to the top of the page when in desktop view*/
        width: 100%;
        height: 48px;
      }

    footer {
        display: block; /*Adding a simple footer to the bottom of the desktop view*/
        background-color: #173f5f;
        padding: 0.10em;
        color: #f6d55c;
        text-align: center;
    }

    .content {
        padding-left: 1.5em;
        padding-right: 1.5em;
        margin-top: 12vh;
    }

    .callout {
        display: contents;
    }

    a.game{
        display: contents;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    img.hide {
      display:none;
        }

  }
