@viewport {
  width: device-width;
  zoom: 1;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,900;1,400;1,700&family=Raleway:ital,wght@0,300;0,400;1,300;1,400&display=swap');

h1{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 48px;
    color: black;
    margin-top: .01em;
}

h2{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 1.25em;
    color:black;
    text-shadow: ##e6e4d4 2px 2px;

}

h3{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 16px;
}

p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1em;

}

body{
    background-image: url("../images/calc.jfif");  /* image from UnSplash*/
    background-size: 100%;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #fae1ab;
    margin-top: 1em;
    margin-left: 50%;
}
